# Ignore Python virtual environments
*/venv/
network-sniffer/venv/
phishing-email-detector/venv/

# Ignore Python cache and IDE files
*.pyc
__pycache__/
.idea/

# Ignore large files
network-sniffer/data/*
!network-sniffer/data/.gitkeep

phishing-email-detector/app/results/*
!phishing-email-detector/app/results/.gitkeep

phishing-email-detector/app/phishing-detector-model/*
!phishing-email-detector/app/phishing-detector-model/.gitkeep

